

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'LEMONMILK';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --lemon-milk: 'LEMONMILK', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --background-black: #060606;
    --text-white: #ffffff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
}

.title-container__year-time {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-container__phrases {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.title-container__end-phrase {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: end;
}

.title-container__main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px 20px;
    width: 100%;
}

.main-title {
    width: 100%;
    margin: 40px 20px 20px 20px;
}

.subtitle {
    font-family: var(--lemon-milk);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 40px;
}

.end-text {
    text-align: end;
}

.paragraph {
    font-family: var(--lemon-milk);
    font-weight: normal;
    font-size: 0.8rem;
}

.italic-strong {
    font-style: italic;
}

.montserrat {
    font-family: var(--montserrat);
}

.lemon-milk {
    font-family: var(--lemon-milk);
    font-weight: normal;
}