@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'LEMONMILK';
    src: url('/assets/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEMONMILK';
    src: url('fonts/LEMONMILK-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

:root {
    --lemon-milk: 'LEMONMILK', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    min-height: 100vh;
}


